In [1]:
import numpy as np
students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 92, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [2]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [3]:
data = np.random.randint(50,high=101,size=(50, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'])
students

    國文  英文   數學   地理   探討
0   71  63   75   96   80
1   61  87   99   99   95
2   77  64   88   59   85
3   87  77   65   72   52
4   98  59   51   56   58
5   61  90   92   68   64
6   50  74  100   70   70
7   98  72   80  100   94
8   54  51   98   61   97
9   64  73   86   82   94
10  50  59   66   97   61
11  74  71   96   66   63
12  95  90   65   76   72
13  69  79   65   80   91
14  71  93   67   67   85
15  64  91   70   68   74
16  92  86   95   76   56
17  63  58   93   71   59
18  54  90   64   68   99
19  83  62   74   50   95
20  67  66   83   92   67
21  77  98   91   96   66
22  81  55   71   65   89
23  59  86   98   83   63
24  51  80   54   88   85
25  67  66   82   91   62
26  68  94   89  100   66
27  65  92   94   70   76
28  56  78   68   73   59
29  54  52   65   56   88
30  51  64   63   65   85
31  73  78   92   78   77
32  50  58   84   54   50
33  98  80   71   79   83
34  54  61  100   50   72
35  79  77   83   76   65
36  59  67   67   87   63
37  78  65   85   80   95
38  69  78   99   69   81
39  55  50   85   93   76
40  72  98   94   72   76
41  67  95   62   77   97
42  57  99   64   77   53
43  59  90   81   92  100
44  50  60   98   89   58
45  55  80   98   93   63
46  93  60   86   98   67
47  57  94   97   99   81
48  94  52   82   84   61
49  65  77   91   73   65

In [4]:
import random
def get_names(nums:int=10)->list[str]:
    with open('names.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split("\n")
        randam_names = random.sample(names,nums)
        
    return randam_names

get_names(5)

['李慈啟', '景歡燦', '高俊男', '柯韋成', '李雅怡']

In [5]:
student_nums = 5
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'],
             index=get_names(student_nums))
students

     國文  英文  數學  地理  探討
張牧聿  78  53  64  99  62
龐皓芳  69  88  63  86  58
謝哲維  98  50  82  54  51
盧必妍  82  55  65  62  95
黎惠雯  93  68  62  95  57